@model SpaWeb.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-heading">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Dashboard V.1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="analytics-sparkle-area">
    <div class="container-fluid">
        <h2>Details Service</h2>
        <div>
            <h4>Service</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ServiceType1.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ServiceType1.Description)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>